worker_connections  4096 #default: 50

server
{
    listen       80; # 반드시 있어야하고 한개만 있어야함 두번 오면 안됨
    server_name  domain2.com; # 없어도 되고 1개만 있어야함, default : "NONE" 두번 오면 안됨
    access_log   logs/domain2.access.log # 없어도 되고, 있으면 딱 하나, default : "" 두번 오면 안됨
    error_log   logs/domain1.errror.log # 없어도 되고, 있으면 딱 하나, default : "" 두번 오면 안됨
    error_page 404  /404.html; # 없어도 되고, 있으면 두개 반드시 두개 이상, default : error_page는 map으로 해야할 듯
    error_page 500 502 503 504  /504.html; # 이런 식이면 error_page에 추가

    location / # 꼭 있어야하는 location 한개는 있어야함.
    {
        allow GET POST;   #여러개 가능, default : GET 두번 오면 안됨
        root /www/; # 반드시 있어야 하고 한개만 가능 : 마지막에 슬래시 없으면 붙여줌. 두번 오면 안됨
        index  index.html index.htm; # 인덱스 리스트, 디렉토리 접근시 보여주는 파일들, 없어도됨. 두번 오면 안됨
        auto_index on # 없어도 됨, default : off 두번 오면 안됨
        auth_basic "Auth need message~" # 없어도 됨, default : "Need Basic Auth" 두번 오면 안됨
        auth_basic_user_file /etc/webserver/.htpasswd; # auth_basic 이 있으면 반드시 와야함 두번 오면 안됨
    }

    location /post/  # 마지막에 꼭 슬래시를 붙여야한다.
    {
        root /www/;
    }
}