error_log  #에러 로그 저장될 PATH
access_log #접속 로그 저장될 PATH

server
{
    listen       80;
    server_name  domain2.com www.domain2.com;
    access_log   logs/domain2.access.log  main;
    error_page 404  /404.html;
    error_page 500 502 503 504  /504.html;
    
    location / 
    {
        allow GET POST
        root /www/;
        auto_index on
        index  index.html index.htm;
    }

    location /post/
    {
        root /www/;
    }
}