worker_connections  4096 #default: 50

server
{
    listen       80;
    server_name  domain2.com www.domain2.com;
    access_log   logs/domain2.access.log
    error_log   logs/domain1.errror.log
    error_page 404  /404.html;
    error_page 500 502 503 504  /504.html;

    location /
    {
        allow GET POST
        root /www/;
        auto_index on
        auth_basic "Auth need message~"
        auth_basic_user_file /etc/webserver/.htpasswd;
        index  index.html index.htm;
    }

    location /post/
    {
        root /www/;
    }
}